@import "tailwindcss";

@theme {
  --color-figma-blue-300: #d0d6f9;
  --color-figma-blue-900: #0b0d17;
  --color-figma-gray-300: #979797;
  --color-deep: rgb(24, 24, 24);
  --inset-shadow-b: inset 0 -20px 3px rgba(0, 0, 0, 0.25);
}

.home--background {
  @apply bg-[url("/space-tourism-website-main/assets/home/background-home-mobile.jpg")]
  lg:bg-[url("/space-tourism-website-main/assets/home/background-home-desktop.jpg")]
  md:bg-[url("/space-tourism-website-main/assets/home/background-home-tablet.jpg")];
}
.destination--background {
  @apply bg-[url("/space-tourism-website-main/assets/destination/background-destination-mobile.jpg")]
  lg:bg-[url("/space-tourism-website-main/assets/destination/background-destination-desktop.jpg")]
  md:bg-[url("/space-tourism-website-main/assets/destination/background-destination-tablet.jpg")];
}
.crew--background {
  @apply bg-[url("/space-tourism-website-main/assets/crew/background-crew-mobile.jpg")]
  lg:bg-[url("/space-tourism-website-main/assets/crew/background-crew-desktop.jpg")]
  md:bg-[url("/space-tourism-website-main/assets/crew/background-crew-tablet.jpg")];
}
.technology--background {
  @apply bg-[url("/space-tourism-website-main/assets/technology/background-technology-mobile.jpg")]
  lg:bg-[url("/space-tourism-website-main/assets/technology/background-technology-desktop.jpg")]
  md:bg-[url("/space-tourism-website-main/assets/technology/background-technology-tablet.jpg")];
}

/* No supe como haer el efecto activo desde los modulos de css */

/* HOME */
.menuMainItem.active {
  @apply bg-white/10 border-white md:bg-transparent;
}

/* DESTINATION */
.destinationMenuItem.active {
  @apply border-b-white;
}

/* CREW */
.crewMenuItem.active {
  @apply bg-white;
}

/* TECHNOLOGY */
.technologyMenuItem.active {
  @apply bg-white text-figma-blue-900;
}
